<div class="stage-container">

  <div class="stage-header">

    <div class="title">{{ stage.name }}</div>

    <div class="header-states">
      <div class="state">
        <mat-icon class="state-icon">shopping_bag</mat-icon>
        {{stage.dealsCounter}}
      </div>
      <div
        class="state"
        matTooltip="Probability Status {{stage.potential}}"
        matTooltipClass="above"
        matTooltipPosition="above">
        <mat-icon class="state-icon">view_column</mat-icon>
        {{stage.potential}}
      </div>
      <div class="state">
        <mat-icon class="state-icon">notifications</mat-icon>
        {{stage.notifications}}
      </div>
    </div>

  </div>


  <div (cdkDropListDropped)="drop($event)" [cdkDropListData]="stage.deals" [id]="stage.id" cdkDropList class="stage">
    <deal-card *ngFor="let deal of stage.deals" [cdkDragData]="deal" [deal]="deal" cdkDrag></deal-card>
  </div>

</div>
