.board{
  display: flex;
}

.board-list {
  margin-right: .5rem;
  display: flex;
  flex-direction: column;
  border-radius: .125rem;
  background-color: #f4f5f7;
  flex-shrink: 0;
  width: calc(25% - 8px);
  min-height: 400px;
  min-width: 200px;
}
