
.card-wrap {
  touch-action: manipulation;
  cursor: grab;
  margin-bottom: 10px;
  width: 100%;

  .card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 4%;
    background-color: #fff;
    transition-property: all;
    transition-duration: .1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px;
    gap: 10px;

    .icon {
      font-size: 14px;
      color: gray;
    }

    .section1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .card-title {
        color: #000;


      }

      .icon-container {
        display: flex;
        padding: 2px 5px;
      }
    ;
    }

    .section2 {
      display: flex;
      flex-direction: row;
      align-items: center;

      .state {
        margin-right: 10px;
        color: #000;
      }

      .probability {
        color: #000;
      }
    }

    .section3 {
      display: flex;
      flex-direction: row;
      justify-content: start;


      .name {
        margin-right: 10px;
        color: gray;
      }

      .phone {
        color: gray;
      }
    }

    .section4 {
      display: flex;
      flex-direction: row;

      .date {
        margin-right: 10px;
        color: gray;
      }
    }

  }
}




