<div class="card-wrap">

  <div class="card">

    <div class="section1">
      <div [title]="deal.company" class="card-title ellipsis">
        {{deal.company.split('-').join(" ")}}
      </div>

      <div class="icon-container clickable">
        <mat-icon>more_horiz</mat-icon>
      </div>
    </div>


    <div class="section2">
      <div class="state badge">{{deal.state}}</div>

      <div class="probability badge badge--blue"
           matTooltip="Probability Status {{deal.probability_status}}"
           matTooltipClass="above"
           matTooltipPosition="above">
        {{deal.probability_status}}
      </div>
    </div>

    <div class="section3">
      <mat-icon class="icon">phone</mat-icon>
      <div [title]="deal.first_name + deal.last_name" class="name ellipsis">{{deal.first_name}} {{deal.last_name}}</div>
      <div class="phone"> {{deal.phone | cardPhone}}</div>
    </div>

    <div class="section4">
      <mat-icon class="icon">calendar_today</mat-icon>
      <div class="date">{{deal.date  | cardDate}}</div>
    </div>

  </div>
</div>
