.board-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 85%;
  height: 100%;
  margin: auto;

  .board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;

    .search{
      display: flex;
      align-items: center;


      .search-input{
        border: 2px solid #9E9E9E;
        background-color: #ffffff;
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem .5rem;
        color: #4A5568;
        margin-bottom: 1rem;
        margin-right: 8px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #A0AEC0;
        }
      }
    }
  }

  .board {
    display: flex;
    padding: 0;
    align-items: center;
    overflow-x: auto;

    .board-list {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: .5rem;
      border-radius: 5px;
      background-color: #f4f5f7;
      width: calc(20% - 8px);
      min-height: 400px;
      min-width: 200px;
    }
  }
}

::ng-deep .mat-mdc-form-field-infix {
  height: 48px;

  .mat-mdc-form-field-input-control {
    height: 48px !important;
  }
}

::ng-deep .mat-form-field {
  border: none;
  box-shadow: none;
}
