html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}


.mdc-tooltip {
  position: relative;

  &::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #616161;
  }

  &.above {
    overflow: initial;

    &:after {
      bottom: -0.5rem;
      right: calc(50% - 0.5rem);
      transform: rotate(180deg);
    }
  }
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: #e0e0e0;
  border-radius: 50%;
}

.eclipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.badge {
  background: #575757;
  color: #ffffff !important;
  border-radius: 10%;
  padding: 2px 5px;
  font-size: 14px !important;

  &--blue {
    background: #2196f3;
  }
}
