html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}


.mdc-tooltip {
  position: relative;
  &::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #0b243d;
  }

  &.above {
    overflow: initial;

    &:after {
      bottom: -0.5rem;
      right: calc(50% - 0.5rem);
      transform: rotate(180deg);
    }
  }
  .mdc-tooltip__surface{
    background-color: #0b243d;
    color: rgba(255, 255, 255, 0.76);
    padding: 10px 5px;
    border-radius: 0.25rem;
    font-size: 16px;
    line-height: 1rem;
    font-weight: 500;
    letter-spacing: 0.04em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: #e0e0e0;
  border-radius: 50%;
}

.eclipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;

  @media (max-width: 600px) {
    max-width: 70px;
  }
}

.badge {
  background: #9ca9b7;
  color: #ffffff !important;
  border-radius: 10%;
  padding: 2px 5px;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 500;

  &--blue {
    background: #2f87e1
  }

  @media (max-width: 600px) {
    padding: 0 3px;
    font-size: 12px !important;  }

}

.icon {
  font-size: 12px;
  color: gray;
}
